body {
  font-family: "GT-Pressura", sans-serif;
  color: #ef0000;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.spawn {
  overflow: hidden;
}

p {
  line-height: 1.25em;
  clear: both;
  text-align: justify;
  margin: 0;
}

h1 {
  font-size: calc(2vw + 1rem);
  font-weight: bold;
  line-height: 1.125em;
  text-align: left;
  margin: 0;
}

span {
  text-decoration: underline;
}

#header {
  top: 3vw;
  left: 3vw;
  z-index: 99999;
  pointer-events: none;

  h1 {
    font-family: "Sang-Bleu-Republic", serif;
    font-style: italic;
    font-size: calc(4.25vw + 2.5rem);
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: calc(0.075vw + 0.005em);
    -webkit-text-stroke-color: #ffcc00;
    padding: 0;
    margin: 0;
  }
}

#wrapper {
  width: 75vw;
  height: 100%;
  margin: 0 12.5vw;
  z-index: 1;
}

.main {
  font-size: calc(0.55vw + 1rem);
  $width: calc(5.25vw + 12em);
  width: $width;
  height: calc($width * 2);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  hyphens: auto;
  padding: 1.5em 1.5em 0.5em;

  >h1,
  p {
    padding-bottom: 1em;
  }
}

#deck {
  top: 0.5vw;
  font-size: calc(0.5vw + 1rem);
}

.side-wrapper {
  font-size: calc(0.525vw + 0.75rem);
  width: calc(10vw + 12.5em);
  z-index: 999;

  p {
    margin-bottom: 1vw;
  }
}

#citation-animation-wrapper {
  right: 1vw;

  #citation-wrapper {
    animation: slide-down 60s linear infinite;

    #citation-head {
      font-style: italic;
    }
  }
}

#intro {
  animation: slide-up 60s linear infinite;
  left: 1vw;
}

#bottom {
  z-index: 0;
  bottom: 0.5vw;
  right: 0.5vw;

  p {
    font-size: calc(0.4vw + 0.55rem);
  }
}

.main,
img {
  border: 0.078vw solid #ef0000;
}

#deck p,
#bottom p,
#bottom a,
#deck a,
#deck a:visited,
#bottom a:visited {
  color: #ffcc00;
}

.side,
.side a:visited {
  color: blue;
}

#wrapper,
#bottom,
#header,
.ui-widget-content,
.side-wrapper {
  position: fixed;
}

.side,
#deck {
  position: relative;
}

@keyframes slide-up {
  from {
    top: 100%;
  }

  to {
    top: 0;
  }
}

@keyframes slide-down {
  from {
    top: 0;
  }

  to {
    top: 100%;
  }
}

html,
div {
  cursor: url(cursor/auto.svg), auto;
}

a {
  cursor: url(cursor/link.svg), pointer;
}

span,
.side-citation {
  cursor: url(cursor/pointer.svg), pointer;
}

#wrapper div {
  cursor: url(cursor/move.svg), move;
}

.side-wrapper {
  pointer-events: none;
}

.side {
  pointer-events: auto;
}

* {
  user-select: none;
}

@font-face {
  font-family: "GT-Pressura";
  src: url("assets/fonts/GT-Pressura/GTPressura-Bold.ttf") format("truetype");
  font-weight: 700, bold;
  font-style: normal;
}

@font-face {
  font-family: "GT-Pressura";
  src: url("assets/fonts/GT-Pressura/GTPressura-BoldItalic.ttf") format("truetype");
  font-weight: 700, bold;
  font-style: italic;
}

#mobile-blocker {
  display: none;
}

#mobile-blocker.blocked {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  padding: 5vw;
  box-sizing: border-box;
  position: fixed;
  z-index: 999999999;

  p {
    text-align: center;
  }
}


@font-face {
  font-family: "GT-Pressura";
  src: url("assets/fonts/GT-Pressura/GTPressura.ttf") format("truetype");
  font-weight: 400, normal;
  font-style: normal;
}

@font-face {
  font-family: "GT-Pressura";
  src: url("assets/fonts/GT-Pressura/GTPressura-RegularItalic.ttf") format("truetype");
  font-weight: 400, normal;
  font-style: italic;
}

@font-face {
  font-family: "Sang-Bleu-Republic";
  src: url("assets/fonts/Sang-Bleu-Republic/SangBleuRepublic-Bold.otf") format("opentype");
  font-weight: 700, bold;
  font-style: normal;
}

@font-face {
  font-family: "Sang-Bleu-Republic";
  src: url("assets/fonts/Sang-Bleu-Republic/SangBleuRepublic-BoldItalic.otf") format("opentype");
  font-weight: 700, bold;
  font-style: italic;
}