body {
	font-family: "GT-Pressura", sans-serif;
	color: #EF0000;
}

p {
	font-size: 1vw;
	line-height: 1.25em;
	clear: both;
	text-align: justify;
	hyphens: auto;
}

h1 {
	font-size: 2.5vw;
	font-weight: 700;
	line-height: 1.125em;
	text-align: left;
}

body,
p,
h1 {
	margin: 0;
}

body,
#wrapper {
	height: 100%;
}

body,
.spawn {
	overflow: hidden;
}

span {
	text-decoration: underline;
}

h1,
.main p {
	padding-bottom: 1vw;
}

a:hover {
	background-color: #EF0000;
}

#header {
	top: 4vw;
	left: 4vw;
	z-index: 99999;
}

#title {
	z-index: 9999;
}

#title h1 {
	font-family: "Sang-Bleu-Republic", serif;
	font-style: italic;
	font-size: 5vw;
	color: rgba(0, 0, 0, 0);
	-webkit-text-stroke-width: 0.1vw;
	-webkit-text-stroke-color: #ffcc00;
	padding: 0;
}

#wrapper {
	margin: 0 12.5vw;
	z-index: 1;
}

#title,
#wrapper {
	width: 75vw;
}

.main {
	width: 20vw;
	height: 40vw;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: white;
	padding: 1.75vw 1.75vw 0.75vw;
}

#deck {
	top: 0.5vw;
}

#deck p {
	font-size: 1em;
}

.side-wrapper {
	width: 24.5vw;
	z-index: 999;
}

#citation-amn-wrapper {
	right: 1vw;
}

#intro {
	animation: slide-up 60s linear infinite;
	padding-left: 1vw;
}

#citation-wrapper {
	animation: slide-down 60s linear infinite;
	font-size: 1vw;
}

#intro p,
#citation-wrapper p {
	margin-bottom: 1vw;
}

#citation-head {
	font-style: italic;
	font-size: 1.25em;
}

#bottom {
	z-index: 0;
	bottom: 0.5vw;
	right: 0.5vw;
}

#bottom p {
	font-size: calc(0.35vw + 6px);
}

.main,
img {
	border: 0.078vw solid #EF0000;
}

#deck p,
#bottom p,
#deck a,
#deck a:visited,
#bottom a:visited {
	color: #ffcc00;
}

.side,
.side a:visited {
	color: blue;
}

#wrapper,
#bottom,
#header,
.ui-widget-content,
.side-wrapper {
	position: fixed;
}

.side,
#deck {
	position: relative;
}

@keyframes slide-up {
	from {
		top: 100%;
	}

	to {
		top: 0;
	}
}

@keyframes slide-down {
	from {
		top: 0;
	}

	to {
		top: 100%;
	}
}

html {
	cursor: -webkit-image-set(url(cursor/auto.svg) 5x) 5 5, auto;
}

a {
	cursor: -webkit-image-set(url(cursor/link.svg) 5x) 5 5, pointer;
}

span,
.side-citation {
	cursor: -webkit-image-set(url(cursor/pointer.svg) 5x) 5 5, pointer;
}

#wrapper div {
	cursor: -webkit-image-set(url(cursor/move.svg) 5x) 5 5, move;
}

#title,
.side-wrapper {
	pointer-events: none;
}

.side {
	pointer-events: auto;
}

#title,
.spawn,
.side-wrapper,
#confirm {
	user-select: none;
}

p::selection,
h1::selection,
sup::selection,
span::selection,
i::selection,
a::selection {
	color: white;
	background-color: #EF0000;
}

p::-moz-selection,
h1::-moz-selection,
span::-moz-selection,
sup::-moz-selection,
i::-moz-selection,
a::-moz-selection {
	color: white;
	background-color: #EF0000;
}

#pop-up,
#shade {
	display: none;
}

@media (max-width: 478px),
(orientation: portrait) {
	body {
		overflow-y: scroll;
		letter-spacing: -0.01em;
	}

	h1 {
		font-size: 10vw;
		padding-bottom: 0.5em;
		letter-spacing: -0.04em;
	}

	p {
		font-size: 20px;
		line-height: 1.5em;
		text-align: left;
		hyphens: none;
	}

	#header {
		left: 0;
		top: 10vh;
	}

	#title {
		top: 2.5vh;
		width: 100vw;
		height: 25vh;
	}

	#title h1 {
		line-height: 1.5em;
		-webkit-text-stroke-width: 0.05vw;
		font-size: calc(3vw + 50px);
		white-space: nowrap;
	}

	.first-line {
		left: -2.5vw;
	}

	.second-line {
		top: 1.25em;
		right: -2.5vw;
	}

	#wrapper {
		margin: 35vh 0 0;
		flex-direction: column;
	}

	#wrapper,
	#deck,
	#bottom,
	#shade {
		width: 100vw;
	}

	.main {
		width: 80vw;
		padding: 10vw;
		height: auto;
		border: none;
		border-bottom: 10px solid red;
	}

	#section-6 {
		border: none;
	}

	#deck {
		padding-left: 10vw;
		height: 3vh;
		top: 27.5vh;
	}

	#bottom {
		height: 2vh;
		bottom: 0;
		left: 0;
		padding-left: 2vw;
	}

	#deck,
	#bottom {
		align-items: center;
		padding-bottom: 0.5vh;
	}

	#bottom p {
		font-size: 1.75vw;
	}

	#intro-amn-wrapper {
		top: 2vh;
	}

	#citation-amn-wrapper {
		bottom: 3vh;
	}

	#intro-amn-wrapper,
	#citation-amn-wrapper,
	#intro p,
	#citation-wrapper p {
		height: 5vh;
	}

	#citation-wrapper {
		font-size: 1vw;
	}

	#deck,
	#bottom,
	#intro p,
	#citation-wrapper p {
		padding-top: 0.5vh;
	}

	#intro p,
	#citation-wrapper p {
		display: inline-block;
		margin: 0;
		white-space: nowrap;
	}

	#intro-amn-wrapper,
	#citation-amn-wrapper {
		border: 5px solid blue;
	}

	#bottom,
	#intro-amn-wrapper,
	#citation-amn-wrapper,
	#pop-up {
		background-color: white;
		z-index: 99999;
	}

	#intro,
	#citation-wrapper {
		animation: slide-left 280s linear infinite;
	}

	@keyframes slide-left {
		from {
			left: 100%;
		}

		to {
			left: 0;
		}
	}

	#header,
	#deck,
	#wrapper,
	.main,
	.ui-widget-content {
		position: relative;
	}

	#title,
	#title h1 {
		position: absolute;
	}

	#pop-up,
	#shade {
		position: fixed;
	}

	#deck,
	#wrapper,
	#intro,
	#citation-wrapper,
	#bottom {
		display: flex;
	}

	.spawn {
		display: none;
	}

	#pop-up {
		width: 75vw;
		height: 40vh;
		top: 20vh;
		left: 7.5vw;
		padding: 5vw;
		z-index: 999999;
		border: 5px solid red;
		flex-direction: column;
		justify-content: center;
	}

	#pop-up * {
		text-align: center;
	}

	#shade {
		top: 0;
		left: 0;
		height: 100vh;
		z-index: 999998;
		background-color: rgba(20, 0, 0, 0.4);
	}

	#message {
		padding-top: 0;
		padding-bottom: 7.5vw;
	}

	#pop-up h1 {
		padding-top: 2.5vw;
	}

	#confirm {
		font-style: italic;
		text-decoration: underline;
		cursor: -webkit-image-set(url(cursor/pointer.svg) 5x) 5 5, pointer;
	}

	#wrapper div {
		cursor: -webkit-image-set(url(cursor/auto.svg) 5x) 5 5, auto;
	}

}

@font-face {
	font-family: 'GT-Pressura';
	src: url('Fonts/GT-Pressura/GTPressura-Bold.ttf') format('truetype');
	font-weight: 700, bold;
	font-style: normal;
}

@font-face {
	font-family: 'GT-Pressura';
	src: url('Fonts/GT-Pressura/GTPressura-BoldItalic.ttf') format('truetype');
	font-weight: 700, bold;
	font-style: italic;
}

@font-face {
	font-family: 'GT-Pressura';
	src: url('Fonts/GT-Pressura/GTPressura.ttf') format('truetype');
	font-weight: 400, normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT-Pressura';
	src: url('Fonts/GT-Pressura/GTPressura-RegularItalic.ttf') format('truetype');
	font-weight: 400, normal;
	font-style: italic;
}

@font-face {
	font-family: 'Sang-Bleu-Republic';
	src: url('Fonts/Sang-Bleu-Republic/SangBleuRepublic-Bold.otf') format('opentype');
	font-weight: 700, bold;
	font-style: normal;
}

@font-face {
	font-family: 'Sang-Bleu-Republic';
	src: url('Fonts/Sang-Bleu-Republic/SangBleuRepublic-BoldItalic.otf') format('opentype');
	font-weight: 700, bold;
	font-style: italic;
}